* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a:hover {
  text-decoration: none;
}

html {
  min-height: 100vh;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#app {
  width: 100%;
  min-width: 1200px;
  max-width: 1600px;
  height: calc(100% - 50px);
  margin: 0 auto;
  padding: 15px;
  border-radius: 5px;
}

@media screen and (min-width: 650px){
  .layout {
      width: 50%;
  }

  .layout-canvas {
      height: 50%;
      width: 100%;
      display: flex;
  }

  .layout-right-side {
      width: 70%;
  }

  .layout-left-side {
      display: block;
      height: 100%;
      width: 30%;
      background-color: darkgray;
  }

  .layout {
      width: 50%;
  }

  .layout-canvas {
      height: 50%;
  }
}
